:root {
  background-color: #f3f3f3;
}
body {
  margin: 0;
  padding: 0;
  /* min-height: 100vh; */
  /* min-width: 1024px; */
  /* overflow: hidden; */
  overflow-x: auto;
  min-width: 1280px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dfe4ea;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a4b0be;
}
@keyframes defaultWheelSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes reverseWheelSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
